# compression files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pyc
# folders
/.vscode/
# larger files and ABA other files
*.odb
*.fil
*.dat
*.mtx
*.msg
*.prt
*.log
*.sta
*.sat
*.sim
*.rpy
*.dat
*.stt
*.pdb
*.mdl
*.txt
# unnecessary files
*.sta
*.lck
*.com
*.tmp
*.stt
*.cid
*.abq
*.res
*.sel
*.SMABulk
*.SMAFocus
*.023
*.exe
*.obj
*.jnl
*.rec
*.pac
*.par
*.pes
*.pmg
*.src
*.odb_f
*.ipm
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.10
*.11
*.12
*.13
*.14
*.15
*.asv
*.avi
*.bak
*.tcl
*.set
*.SMASim
*.simlog
.*
*.exception
!.gitignore